# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

debug/*

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*

*.pro
*.app

cs3249-project

# Gedit backup files
*~
